@wins: #6790B7;
@vacatedwins: red;

.season-info {
  font-family: @bold-graphics;
  text-align: center;
  @media @mobile {
    font-size: 18px;
  }
}

.coaches-container {
  font-family: @block-graphics;
  padding: 0 40px;
  @media @mobile {
    padding: 0;
  }
  padding-bottom: 30px !important;
  // max-width: 600px;
  // margin: auto;
  .hed {
    // text-align: left;
    font-family: @med-graphics;
    font-size: 16px;
    @media @mobile {
      font-size: 14px;
    }
  }
  .coach {
    font-size: 14px;
    // text-align: center;
    @media @mobile {
      text-align: left;
      font-size: 12px;
    }
    .name {
      font-family: @med-graphics;
    }
  }
}

.chatter {
  padding-bottom: 10px;
  margin-bottom: 0;
}

.legend-container {
  font-size: 12px;
  font-family: @block-graphics;
  // border: 1px solid @black;
  // border-radius: 6px;
  width: 270px;
  @media @mobile {
    width: 90%;
  }
  margin: auto;
  // margin-bottom: 40px;
  &.nopadding {
    margin-bottom: 0;
  }
  padding: 4px;
  .display-flex;
  .flex-wrap(wrap);
  @media @mobile {
    margin: 15px auto;
  }
  .element {
    .flex(0 0 50%);
    @media @mobile {
      .flex(0 0 90%);
    }
  }
  .wins-swath, .vacatedwins-swath  {
    height: 14px;
    width: 14px;
    margin: 4px;
    border-radius: 2px;
  }
  .wins-swath {background: @wins}
  .vacatedwins-swath {background: @vacatedwins}
  .legend-text {
    width: 180px;
    padding-left: 20px;
    vertical-align: text-top;
  }
  padding-bottom: 40px;
  @media @mobile {
    padding-bottom: 0;
    margin-top: 0;
  }
}

.credit, .source {
  padding: 0 40px;
  @media @mobile {
    padding: 0;
  }
}
.source {
  padding-top: 10px;
  @media @mobile {
    padding-top: 5px;
  }
}
