<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <div class="outer">

      <div class="hed">Coaches' climbs to 1,000</div>
      <div class="chatter chatter-nopadding">Stanford’s Tara VanDerveer is poised to become just the third coach in Division I history (men or women) to reach 1,000 wins. Three others may join the club soon. Here’s a look at how the coaches have piled up the wins through the years.</div>

      <div class="legend-container">
        <div class="element"><div class="wins-swath"><div class="legend-text">Cumulative wins</div></div></div>
        <div class="element"><div class="vacatedwins-swath"><div class="legend-text">Vacated wins</div></div></div>
      </div>

      <div class="season-info">Season: <span class="info wins"></span></div>

      <div id="win-chart"></div>

      <div class="coaches-container">
        <div class="hed">Careers:</div>
        <div class="coach"><span class="name">Vivian Stringer:</span> Cheyney, 1971-83; Iowa, 1983-95; Rutgers, 1995-present (women)</div>
        <div class="coach"><span class="name">Pat Summitt:</span> Tennessee, 1974-2012 (women)</div>
        <div class="coach"><span class="name">Mike Kzryzewski:</span> Army, 1975-80; Duke 1980-present (men)</div>
        <div class="coach"><span class="name">Jim Boeheim:</span> Syracuse, 1976-present (men)</div>
        <div class="coach"><span class="name">Tara VanDerveer:</span> Idaho, 1978-80; Ohio State, 1980-85; Stanford, 1985-present (women)</div>
        <div class="coach"><span class="name">Geno Auriemmia:</span> UConn, 1985-present (women)</div>
      </div>

      <div class="credit">Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
      <div class="credit">Mike Massa   &bull; <a href="mailto:mmassa@sfchronicle.com">mmassa@sfchronicle.com</a></div>
      <div class="source">Note: Syracuse’s Jim Boeheim has won 998 games in his career, but on March 6, 2015, 101 of those wins were vacated for NCAA violations.</div>
      <div class="source">Sources: <a href="http://www.ncaa.com/" target="_blank">NCAA</a> and university websites</div>

    </div>

    <script>
      var winsData = <%= JSON.stringify(csv.WinsData) %>
    </script>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
